include CMakeLists.txt
include CITATION.cff
include LICENSE
include README.md
include QUICK_START.md
include setup.py
include pyproject.toml
recursive-include include *.hpp
recursive-include src *.cpp *.hpp *.cu *.mm
recursive-include python *.cpp
recursive-include xhdfe *.py *.typed
recursive-include xhdfe/help *.md
recursive-include third_party/eigen-3.4.0 *
recursive-include third_party/pybind11-2.11.1 *
prune build
prune build_cuda
prune benchmarks/_out
global-exclude __pycache__ *.py[cod] *.so *.pyd *.dylib
